<?xml version="1.0" encoding="utf-8"?>
	<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    	package="edu.berkeley.sec.mcr"
    	android:versionCode="1"
    	android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
    	<activity android:name=".GUI"
                  android:label="@string/app_name">
    		<intent-filter>
    			<action android:name="android.intent.action.MAIN" />
        		<category android:name="android.intent.category.LAUNCHER" />
    		</intent-filter>
        </activity>

    
		<activity android:name=".GotPhoto" android:label="Play Music"></activity>
		<activity android:name=".TransformLocal" android:label="Read Sheet Music"></activity>
	</application>
    <uses-sdk android:minSdkVersion="4" />

</manifest> 